---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import SectionContainer from "../components/SectionContainer.astro";
import Experience from "../components/Experience.astro";
import Briefcase from "../components/icons/Briefcase.astro";
import CodeDots from "../components/icons/CodeDots.astro";
import Projects from "../components/Projects.astro";
import AboutMe from "../components/AboutMe.astro";
import UserHeart from "../components/icons/UserHeart.astro";


// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout
	title="Portfolio de Daga - Desarrollador Full Stack en React, Next.js y TypeScript"
	description=`Contrata a Daga para tu aplicación web moderna.
 Ingeniero en Telecomunicaciones y Desarrollador Full Stack.
 Especializado en crear aplicaciones escalables con experiencia de usuario excepcional.`
>
	<SectionContainer class="py-12 sm:py-20 md:py-28 lg:py-36">
		<Hero />
	</SectionContainer>

	<div class="space-y-16 sm:space-y-20 md:space-y-24 lg:space-y-32">
		<SectionContainer
			id="experience"
			title="Work Experience"
			icon={Briefcase}
			class="py-8 md:py-12"
		>
			<Experience />
		</SectionContainer>

		<SectionContainer
			id="projects"
			title="Projects"
			icon={CodeDots}
			class="py-8 md:py-12"
		>
			<Projects />
		</SectionContainer>

		<SectionContainer
			id="about-me"
			title="About me"
			icon={UserHeart}
			class="py-8 md:py-12"
		>
			<AboutMe />
		</SectionContainer>
	</div>
</Layout>
