---
const { href, class: className, ...restProps } = Astro.props
---

<a
  href={href}
  target="_blank"
  rel="noopener noreferrer"
  class={`
    inline-flex items-center justify-center gap-2 
    px-5 py-1.5 
    text-sm font-medium
    rounded-full 
    transition-all duration-200
    focus-visible:ring-2 focus-visible:ring-orange-500/80 focus-visible:outline-none
    group max-w-fit
    ${className}
  `}
  {...restProps}
>
  <slot />
</a>